<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @teacher.dni %>
</p>

<p>
  <strong>Email:</strong>
  <%= @teacher.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @teacher.phone %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @teacher.skills %>
</p>

<p>
  <strong>Path cv:</strong>
  <%= @teacher.path_cv %>
</p>

<p>
  <strong>Path photo:</strong>
  <%= @teacher.path_photo %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @teacher.availability %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
