<p id="notice"><%= notice %></p>

<h1>Listing Course Payments</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @course_payments.each do |course_payment| %>
      <tr>
        <td><%= link_to 'Show', course_payment %></td>
        <td><%= link_to 'Edit', edit_course_payment_path(course_payment) %></td>
        <td><%= link_to 'Destroy', course_payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course payment', new_course_payment_path %>
